*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background: url('./img/marco2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

/*  LATERAL */

#contenedor{
    position: fixed; /*posicion fija*/
    width: 200px;
    height: 100%;

    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    cursor: pointer;
    
}

#contenedor #logo{
    text-align: center;
    border-bottom: 3px solid rgba(17, 16, 16, 0.3); /*linias de separacion*/
    padding: 10px 10px;
    cursor: pointer;
}

#contenedor  ul li{      /* DEBO SACARLO SI NO ES ENCESARIO:  REVISAR*/
    text-align: center;
    padding: 15px 10px;
    
}

#contenedor #user{
    border-top: 3px solid rgba(17, 16, 16, 0.3); /*linias de separacion*/
    text-align: center;
    padding: 15px 10px;
    position: absolute; /* Hacemos que el elemento sea posicionado de forma absoluta */
    bottom: 0; /* Lo alineamos en la parte inferior del*/
    width: 90%; /* Opcional: para que ocupe todo el ancho del contenedor */
}


/* USER LOGUEADO - PERO SIN SERVIDOR*/

#contenido{
    display: flex;           /*Eleigir el modelo de diseño*/
    flex-direction: column;  /*la dirección en la que los elementos se colocan dentro del contenedor flexible*/
    justify-content: center; /*Controla la alineación de los elementos en el eje principal     */
    align-items: center;     /*Determina la alineación de los elementos en el eje secundario*/
    padding: 0 0 0 210px;   
}

#contenido a{
    margin-top: 200px;/*ESPACIO CON EL LATERAL*/
    text-align:center;
    color: #fff;
    font-size: 30px;
    position: relative;
    border-radius: 1rem;
    padding: 25px 40px 25px 40px;

    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}


/* SERVIDOR DEL USUARIO */


#contenedor #tabla_style {                                /*columna*/
    padding: 17px;
    
    }
#tabla_style th{                                /*columna*/
    font-size: 25px;
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
#contenedor td {                            /*filas*/
    background: linear-gradient(60deg, rgb(216, 159, 228), rgb(82, 2, 118));   
    border:none;                         
    padding: 6px 5px;
    cursor: pointer;
    /*border-radius: 3rem;*/
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    border-radius: 0 30px;
}
#contenedor td:hover{
    background: rgba(201, 33, 213, 0.7);
}



/* CONTENEDOR 2 */

#contenedor2{
    display: none;
    position: fixed; /*posicion fija*/
    /*position: absolute;*/ /* NOS PODEMOS MOVER CON UNA LINIA  <-------------------------------------------------> */
    left: 210px;  /*lo movemos a la derecha*/
    width: 200px;
    height: 95%;
    border-radius: 2rem;

    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#contenedor2 #canal {                                /*columna*/
    padding: 20px 0px 0px 50px; 
    }
#canal th{                                /*columna*/
    font-size: 25px;
    padding-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    
#contenedor2 td {                            /*filas*/
    background-color:rgb(176, 75, 203);   
    border:none;                         
    padding: 6px 5px;
    cursor: pointer;
    /*border-radius: 3rem;*/
    text-align: center;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    border-radius: 0 30px;
}
#contenedor2 td:hover{
    background: rgba(168, 14, 179, 0.7);
}

/*CREAR CANAL*/
#contenedor2 #crear_canal{
    text-align: center;
    padding: 30px 10px;
    position: absolute; /* Hacemos que el elemento sea posicionado de forma fija */
    bottom: 0; /* Lo alineamos en la parte inferior del*/
    width: 90%; /* para que ocupe todo el ancho del contenedor */
}
#crear_canal #c_canal {
    padding: 13px 40px;
    border-radius: 10rem;
    background: linear-gradient(60deg, rgb(216, 159, 228), rgb(141, 6, 203));
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    border:none; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
#contenedor2 #c_canal:hover{
    background: rgba(168, 14, 179, 0.7);
}





/* TODOS SERVIDORES */
#busqueda{
    justify-content: center; /*Controla la alineación de los elementos en el eje principal     */
    align-items: center;     /*Determina la alineación de los elementos en el eje secundario*/
    display: none;
}

.grid-container{
    display: grid;
    grid-template-columns:2fr 2fr 2fr;    /*altura de columas*/
    grid-template-rows: 5rem 5rem 5rem;  /*ancho de las filas*/

    grid-column-gap: 5%;                /*espaciado de las columnas*/
    grid-row-gap:5%;                  /*espaciado de las filas*/

    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;

    padding: 5px 0px 0px 250px; 

    display: none;
}


.item-grid{
    text-align: center; 
    font-size: 5px;
    margin: 5px 5px;
    position: relative;
    border-radius: 3rem;


    padding: 5px 3px 3px 5px;
    background: transparent;
    backdrop-filter: blur(3px);
    cursor: pointer;   
}


