<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\usuarios.css">
    <title>Crear Canal Nuevo</title>
</head>
<body>
    <body>
    
        <div class="contenedor">
                <form action="put">
                    <label for="">Crear Canal Nuevo </label>
                    <input type="text" name="" id="pass"><br><br><br>
                    <!-- //#se le agrega el boton cerrar que vuelve a la pagina pricipal// -->
                    <button id="canal_new">Confirmar</button><button id="volver_atras" style="float: right;"> <a href="../templates\user_logeado.html"></a>Cerrar </button>
                </form>
       </div>
    
    <script src="..static\profile.js"></script>
</body>
</html>