<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear_servidor</title>
    <link rel="stylesheet" href="../static/usuario.css">
</head>
<body>

    <div class="contenedor">  <!--nombre_servidor, propietario_id-->
        <form id="Crear_Form">
            <h1>Crear Servidor</h1>

            <div class="input-box">
                <input type="text" id="servidor" name="servidor" placeholder="servidor" required>
            </div>

            <button type="submit" class="btn">Confirmar</button>
        </form>

        <div id="message"></div>
    </div>

    <script src="../static/crear_servidor.js"></script>
</body>
</html>