<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
    
        <div class="contenedor">
                <form action="put">
                    <label for="">Crear Canalk Nuevo </label>
                    <input type="text" name="" id="pass"><br>
                    
                    <button id="canal_new">Confirmar</button>
                </form>
       </div>
    
    
</body>
</html>