<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear_servidor</title>
    <link rel="stylesheet" href="../static/usuario.css">
</head>
<body>

    <div class="contenedor">  <!--nombre_servidor, propietario_id-->
        <form action="put">
            <label for="">Nombre Servidor</label>
            <input type="text" name="" id="servidor"><br>
            <label for="">Propietario_id</label>
            <input type="text" name="" id="identificador"><br>
            <button id="pasw_new">Confirmar</button>
        </form>
    </div>
    
</body>
</html>