<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style_logeado.css">
    <title>Document</title>
</head>
<HEADER>Cambiar Password</HEADER>

<body>
    
        <div class="contenido">
            <div class="perfil">
    <form action="put">
        <label for="">Pasword Actual </label>
        <input type="text" name="" id="pass"><br>
        <label for="">Nuevo Pasword</label>
        <input type="text" name="" id=""><br>
        <button id="pasw_new">Confirmar</button>
    </form>
</div>
</div>


    
</body>
</html>