<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Apellido  </title>
    <link rel="stylesheet" href="../static/usuario.css">
</head>
<body>

    <div class="contenedor">  <!--nombre_servidor, propietario_id-->
        <form id="Form_apellido">
            <h1>Modificar apellido</h1>
            <div class="input-box">
                <input type="text" id="n_apellido" name="n_apellido" placeholder="nuevo apellido" required>
            </div>

            <p></p>
            <button type="submit" class="btn">Confirmar</button>   
        </form>

        <p></p>
        <button id="volver_perfil">salir</button>
    </div>

    <script src="../static/mod_apellido.js"></script>

    
</body>
</html>