<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Nombre de Usuario</title>
    <link rel="stylesheet" href="../static/usuarios.css">

</head>
<body>
    <div class="contenedor">  <!--nombre_servidor, propietario_id-->
        <form action="put">
            <label for="">Nombre de Usuario de Usuario</label>
            <input type="text" name="" id="servidor"><br>
            
            <button id="mod_user_name">Confirmar</button><button id="volver_atras" style="float: right;"> <a href="../templates\user_logeado.html"></a>Cerrar </button>
        </form>
    </div>
</body>
</html>