<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio_contraseña</title>
    <link rel="stylesheet" href="../static/usuario.css"> 
</head>
<body>

    <div class="contenedor">  <!--nombre_servidor, propietario_id-->
        <form id="form_contra">
            <h1>Modificar Contraseña</h1>
            <div class="input-box">
                <input type="text" id="n_password" name="n_password" placeholder="Password Actual" required>
            </div>
            <div class="input-box">
                <input type="text" id="n_password" name="n_password" placeholder="Nuevo Pasword" required>
            </div>

            <p></p> 
            <button type="submit">Confirmar</button>          
        </form>

        <p></p>
        <button id="volver_perfil">salir</button>
    </div>

   <script src="../static/modificacion.js"></script>
</body>
</html>