<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/usuario.css">
    <title>Modificar Img_perfil </title>
</head>
<body>

    <div class="contenedor">  <!--nombre_servidor, propietario_id-->
        <form id="Form_foto">
            <h1>Modificar Img</h1>
            <div class="input-box">
                <input type="text" id="n_foto" name="n_foto" placeholder="nueva foto" required>
            </div>
            
            <p></p><button type="submit" class="btn">Confirmar</button>    
        </form>

        <p></p>
        <button id="volver_perfil">salir</button>
    </div>
    
    
    <script src="../static/mod_perfil.js"></script>
</body>
</html>