<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="contenedor2">
            <div class="perfil">
                <img src="../static/img/github_.png" alt="Perfil" width="50" height="50">
                <span id="username" style="color: white; font-weight: bold;"></span>
                <h2 id="perfil"></h2>
            </div>
            <div>
                <p><strong>Nombre de usuario:</strong> <span id="username"></span>
                    &nbsp;&nbsp; <span> <a href="../templates\editar_user_name.html"><button id="nombre">Modificar</button></a>
                </span></p>
                <p><strong>Correo:</strong> <span id="email"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    <span> <a href="../templates\editar_correo.html"><button>Modificar</button></a>
                </span></p>
                <p><strong>Nombre:</strong> <span id="first_name"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    <span> <a href="../templates/editar_user.html"></a><button>Modificar</button>
                </span></p>
                <p><strong>Apellido:</strong> <span id="last_name"></span>&nbsp;&nbsp; <span><button>Modificar</button>
                </span></p>
                <p><strong>Cumpleaños:</strong> <span id="cumpleanos"></span> &nbsp;&nbsp;<span><button>Modificar</button>
                </span></p>
            </div>
        </div>
        <div class="contenedor3">
                <h1>Contraseña</h1>
                <button> <a href="/auth/editar_contraseña" class="btn-contraseña">Cambiar contraseña</a></button>
        </div>
    </div>
   
</html>