<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="../static/usuario.css">
</head>
<body>
    <div class="contenedor">

            <div id="message">   
                <strong>Perfil :</strong> <img id="img_perfil" src="" alt="Imagen de perfil" width="300" height="100"><br><button id="perfil">Modificar</button>
                <!--
                <p><strong>Perfil:</strong><strong><span id="img_perfil"></span><span><button id="perfil">Modificar</button>
                </span></p>
                -->

                <p><strong>Nombre de usuario:</strong> </strong> <span id="nombre_user"></span><span><button id="user">Modificar</button>
                </span></p>
                <p><strong>Nombre:</strong> <span id="nombre"></span><span><button id="name">Modificar</button>
                </span></p>
                <p><strong>Apellido:</strong> <span id="apellido"></span><span><button id="last_name">Modificar</button>
                </span></p>
                <p><strong>Email:</strong> <span id="correo"></span><span><button id="email">Modificar</button>
                </span></p>

            </div>
                <button id="password">Cambiar contraseña</button>
                <p></p>
                <button id="volver_pantalla">salir</button>


    </div>

    <script src="../static/modificacion.js"></script>
</body>
</html>