<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="../static/usuario.css">
</head>
<body>
    <div class="contenedor">

            <div id="message">
                <p><strong>Perfil:</strong> <span id="img_perfil"> <span><a href="../templates/mod_img_perfil.html"><button>Modificar</button></a>
                </span></p>
                <p><strong>Nombre de usuario:</strong> <span id="nombre_user"></span> <span><a href="../templates/editar_user_name.html"><button>Modificar</button></a>
                </span></p>
                <p><strong>Nombre:</strong> <span id="nombre"></span> <span><a href="../templates/editar_user.html"><button>Modificar</button></a>
                </span></p>
                <p><strong>Apellido:</strong> <span id="apellido"></span> <span><a href="../templates/editar_apellido.html"><button>Modificar</button></a>
                </span></p>
                <p><strong>Email:</strong> <span id="correo"></span> <span><a href="../templates/editar_correo.html"><button>Modificar</button></a>
                </span></p>

            </div>
                <p><strong><a href="/auth/editar_contraseña"></strong> <span id="password"></span> <span><button>Cambiar contraseña</button>
                </span></p>


            <button id="logout">Logout</button>
    </div>

    <script src="../static/modificacion.js"></script>
</body>
</html>