<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario_logeado</title>
    <link rel="stylesheet" href="../static/style_logeado.css"> 
</head>
<body>
    <!--MENU LATERAL-->
    <div id="contenedor">
        <ul>        
            <div id="logo">
                    <img src="../static/img/python.png" alt="logo"  width="40" height="40">
                    <img src="../static/img/github_.png" alt="logo" width="40" height="40">
                    <img src="../static/img/mysql.png" alt="logo" width="40" height="40">
            </div>

            <div id="tabla_style">
                <table id="tabla">
                    <tr>
                        <th>salas  <img src="../static/img/servidor/sala.png" alt="logo" width="20" height="20"></th>
                    </tr>
                </table>
            </div>
            <div id="message"></div>
            
            <li><img src="../static/img/agregar.png" alt="logo" class="user_l1" width="25" height="25"></li>
            <li><img src="../static/img/mundo.png" alt="logo" class="user_l2" width="25" height="25"></li>

            <div id="user"><img src="../static/img/usuario.png" alt="logo" width="25" height="25"></div>
        </ul>

    </div>
            
    <div id="contenido">
        <a> Aun no te has unido a un servidor <br> Intenta buscar uno o crea uno propio</a>
    </div>

    <script src="../static/salas.js"></script>
</body>
</html>